{% extends 'dunamis/base.html' %}

{% block content %} 
    {% include 'dunamis/menu.html' %}



    <section id="wrapper">

        <div class="about-intro">
            <h1>ABOUT</h1>
            <p>At Dunamis, we understand the importance of finding the right job or the right candidate. 
            Our platform was created with a simple yet powerful mission: to connect talented individuals with exceptional opportunities and to empower employers to build their dream teams.
            </p>
        </div>

        <div id="mission-vision">
            <div id="mission">
                <h3>Mission</h3>
                <p>Our mission is to make the job search and hiring process as seamless and efficient as possible. We believe that every individual deserves the chance to pursue a career they are passionate about, and every company deserves access to the best talent. By leveraging technology and human-centered design, we strive to create a platform that serves both job seekers and employers with integrity, transparency, and innovation.</p>
            </div>
            <div id="vision">
                <h3>Vision</h3>
                <p>To be the leading job provision agency in Africa through tech!</p>
            </div>
        </div>



    </section>


    {% include 'dunamis/footer.html' %}
{% endblock %}